{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}Clienti{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container">{{ form(form) }}</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}