{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/home') }}
{% endblock %}


{% block flashMessage %}
    <div class="container mt-5">
        {{ parent() }}
    </div>
{% endblock %}


{% block body %}

{% endblock %}
