@import "~bootstrap/dist/css/bootstrap.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~jquery-ui/themes/base/all.css";

/*pick the Lato fonts individually to avoid importing the entire font family*/
@import "~roboto-font/css/fonts.css";

body {
    font-family: 'Roboto', serif;
}

#dialog-confirm {
    display: none;
}

#dialog-mail{
    display: none;
}

